html {
  height: 100%;
}

body {
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

header {
  padding: 0.75em 1em;
  display: flex;
  justify-content: space-between;
}

.container {
  display: flex;
  flex: 1;
}

.content {
  flex: 1;
  padding: 1em 1em 0;
}

.sidebar {
  flex: 0 0 20em;
}

.login-screen {

  .application-description {
    min-width: 65%;
  }

  .login-sidebar {
    min-width: 35%;
  }

}