/* ==================================
  TYPOGRAPHY
================================== */
$baseFont: 'Lato', Helvetica, Arial, sans-serif;
$baseFontWeight: 300;
$displayFont: 'Cabin Sketch', Helvetica, Arial, sans-serif;
$displayFontWeight: bold;

/* ==================================
  COLORSCHEME
================================== */

$white: #FFFFFF;
$black: #1E2328;
$lightGrey: #F3F3F3;
$darkGrey: #979797;
$primaryBlue: #1F5D8E;
$secondaryBlue: #0C4479;
$green: #009A97;
$red: #BA3535;

/* ==================================
  ETC
================================== */

$baseTransition: all 0.3s ease-in-out