/* ==================================
  TYPOGRAPHY
================================== */
$baseFont: 'Lato', Helvetica, Arial, sans-serif;
$baseFontWeight: regular;
$displayFont: 'Cabin Sketch', Helvetica, Arial, sans-serif;
$displayFontWeight: bold;

/* ==================================
  COLORSCHEME
================================== */

$white: #FFFFFF;
$black: #1E2328;
$lightGrey: #F3F3F3;
$primaryBlue: #1F5D8E;
$secondaryBlue: #0C4479;
$green: #009A97;