#training {

  .small {
    max-height: 360px;
    overflow-y: scroll;

    a {
      display: block;
      margin: 0.5em 0;
      text-decoration: none;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

}