/* ==================================
  TYPOGRAPHY
================================== */
/* ==================================
  COLORSCHEME
================================== */
/* ==================================
  ETC
================================== */
* {
  box-sizing: border-box; }

.img-responsive {
  max-width: 100%;
  width: 100%; }

.text-center {
  text-align: center; }

.add-space-bt {
  margin-bottom: 1em; }

.add-space-tp {
  margin-top: 1em; }

.divider {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin: 2em 0; }

.boxed {
  background: #F3F3F3;
  padding: 0.5em 1em;
  border-radius: 4px; }

/* ==================================
  STYLETILE SPECIFIC STYLES
================================== */
body.styletile {
  height: auto; }

.styletile-container {
  max-width: 1210px;
  width: 100%;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex; }

.styletile-header {
  background: #1F5D8E;
  color: #FFFFFF;
  padding: 1em 0; }
  .styletile-header h2 {
    margin: 0; }
  .styletile-header .styletile-container {
    -ms-flex-pack: justify;
        justify-content: space-between; }
  .styletile-header .styletile-description-container {
    -ms-flex-direction: end;
        flex-direction: end;
    position: relative;
    margin-top: 0.25em; }
    .styletile-header .styletile-description-container h2 {
      margin-right: 0.5em;
      color: #FFFFFF; }
    .styletile-header .styletile-description-container .version {
      position: absolute;
      font-size: 18px;
      top: -1em;
      right: 0;
      font-family: "Lato", Helvetica, Arial, sans-serif; }

.styletile-half {
  min-width: 50%; }
  .styletile-half:first-child {
    padding-right: 1.5em; }
  .styletile-half:last-child {
    padding-left: 1.5em; }

.styletile-full {
  min-width: 100%; }

.styletile-colors {
  display: -ms-flexbox;
  display: flex; }
  .styletile-colors > div {
    min-width: 20%;
    padding: 0.75em;
    text-align: center;
    color: #979797; }
  .styletile-colors svg {
    -webkit-filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.35));
            filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.35)); }
  .styletile-colors .white {
    fill: #FFFFFF; }
  .styletile-colors .black {
    fill: #1E2328; }
  .styletile-colors .lightGrey {
    fill: #F3F3F3; }
  .styletile-colors .primaryBlue {
    fill: #1F5D8E; }
  .styletile-colors .secondaryBlue {
    fill: #0C4479; }
  .styletile-colors .green {
    fill: #009A97; }

section {
  margin: 2em 0; }

.input-container {
  display: -ms-flexbox;
  display: flex; }
  .input-container .input-control:first-child {
    padding-right: 0.5em; }
  .input-container .input-control:last-child {
    padding-left: 0.5em; }
  .input-container > div {
    min-width: 50%; }
  .input-container input {
    margin-right: 1em; }

/* ==================================
  MIXINS
================================== */
/* ==================================
  BASE
================================== */
html {
  font-size: 16px;
  line-height: 22px; }

body {
  font-size: 1em;
  line-height: 1.33333333em;
  margin: auto;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight: 300; }

p {
  margin: 0;
  margin-bottom: 1em; }

small {
  font-size: 0.75em;
  line-height: 1.33333333em; }

h1 {
  font-size: 4.22222222em;
  line-height: 1.26315789em;
  margin-top: 0.31578947em;
  margin-bottom: 0.63157894em;
  font-family: "Cabin Sketch", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #0C4479; }

h2 {
  font-size: 2.61111111em;
  line-height: 1.0212766em;
  margin-top: 0.5106383em;
  margin-bottom: 0.5106383em;
  font-family: "Cabin Sketch", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #0C4479; }

h3 {
  font-size: 1.61111111em;
  line-height: 1.65517241em;
  margin-top: 0.82758621em;
  margin-bottom: 0em;
  font-family: "Cabin Sketch", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #0C4479; }

h4 {
  font-size: 1em;
  line-height: 1.33333333em;
  margin-top: 1.33333333em;
  margin-bottom: 0em;
  font-weight: bold;
  color: #0C4479; }

/* ==================================
  BASE
================================== */
html {
  height: 100%; }

body {
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  -ms-flex-direction: column;
      flex-direction: column; }

header {
  padding: 0.75em 1em;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between; }

.container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1;
      flex: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.content {
  -ms-flex: 1;
      flex: 1;
  padding: 2em 2em 4em; }

.sidebar {
  -ms-flex: 0 0 15em;
      flex: 0 0 15em; }

body.login {
  height: 100%; }

.login-screen {
  display: -ms-flexbox;
  display: flex;
  height: 100%; }
  .login-screen .application-description {
    -ms-flex: 0 0 65%;
        flex: 0 0 65%;
    height: 100%; }
  .login-screen .login-sidebar {
    -ms-flex: 0 0 35%;
        flex: 0 0 35%;
    height: 100%; }

/* ==================================
  PAGE SPECIFIC
================================== */
#dashboard .trending-community .disscussion {
  -ms-flex: 0 0 33%;
      flex: 0 0 33%;
  font-size: 0.75em;
  line-height: 1.33333333em; }

#dashboard .top-contributors img.post-picture {
  border-radius: 50%; }

#dashboard .explore-language .flag {
  -ms-flex: 0 0 10%;
      flex: 0 0 10%;
  margin-bottom: 1em; }
  #dashboard .explore-language .flag .flag-container {
    height: 4em;
    width: 4em;
    padding: 1em;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5); }
  #dashboard .explore-language .flag img {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 4em;
    transform: translate(-50%, -50%); }

#training .small {
  max-height: 360px;
  overflow-y: scroll; }
  #training .small a {
    display: block;
    margin: 0.5em 0;
    text-decoration: none; }
    #training .small a:first-child {
      margin-top: 0; }
    #training .small a:last-child {
      margin-bottom: 0; }

/* ==================================
  COMPONENTS
================================== */
.btn {
  padding: 0.35em 1.35em;
  text-transform: uppercase;
  border-radius: 4px;
  background: #F3F3F3;
  letter-spacing: 1px;
  font-size: 0.75em;
  line-height: 1.33333333em;
  border: 0;
  outline: none;
  cursor: pointer;
  margin-right: 1em;
  text-decoration: none;
  transition: all 0.2s ease-in-out; }

.btn-vote {
  border: 0;
  border-radius: 50%;
  outline: none;
  width: 2em;
  height: 2em;
  cursor: pointer;
  margin-right: 0.5em;
  padding: 0; }
  .btn-vote.up {
    background: #009A97; }
  .btn-vote.down {
    background: #BA3535; }
  .btn-vote img {
    width: 2em;
    height: 2em; }

.btn-primary {
  background: #1F5D8E;
  color: #FFFFFF;
  border: 2px solid #1F5D8E; }
  .btn-primary:hover {
    background: transparent;
    color: #1F5D8E; }

.btn-secondary {
  background: #979797;
  color: #FFFFFF;
  border: 2px solid #979797; }
  .btn-secondary:hover {
    background: transparent;
    color: #979797; }

.btn-success {
  background: #009A97;
  color: #FFFFFF;
  border: 2px solid #009A97; }
  .btn-success:hover {
    background: transparent;
    color: #009A97; }

.btn-danger {
  background: #BA3535;
  color: #FFFFFF;
  border: 2px solid #BA3535; }
  .btn-danger:hover {
    background: transparent;
    color: #BA3535; }

.answer {
  margin-top: 4em; }

input, select {
  display: block;
  width: 100%;
  font-size: 0.75em;
  line-height: 1.33333333em;
  padding: 0.75em 0.5em;
  border-radius: 4px;
  outline: none;
  border: 1px solid #F3F3F3;
  box-shadow: 0px 0px 2px 0px rgba(12, 68, 121, 0.25);
  color: #979797; }
  input::-webkit-input-placeholder, select::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #e6e6e6; }
  input::-moz-placeholder, select::-moz-placeholder {
    /* Firefox 19+ */
    color: #e6e6e6; }
  input:-ms-input-placeholder, select:-ms-input-placeholder {
    /* IE 10+ */
    color: #e6e6e6; }
  input:-moz-placeholder, select:-moz-placeholder {
    /* Firefox 18- */
    color: #e6e6e6; }
  input:focus, select:focus {
    border: 1px solid #1F5D8E;
    box-shadow: 0px 0px 2px 0px rgba(12, 68, 121, 0.5); }

label {
  color: #979797;
  font-size: 0.75em;
  line-height: 1.33333333em;
  margin-top: 1em;
  margin-bottom: 0.25em;
  display: block; }

textarea {
  display: block;
  width: 100%;
  min-height: 10em;
  font-size: 0.75em;
  line-height: 1.33333333em;
  padding: 0.75em 0.5em;
  border-radius: 4px;
  outline: none;
  border: 1px solid #F3F3F3;
  box-shadow: 0px 0px 2px 0px rgba(12, 68, 121, 0.25);
  color: #979797;
  resize: none; }
  textarea::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #e6e6e6; }
  textarea::-moz-placeholder {
    /* Firefox 19+ */
    color: #e6e6e6; }
  textarea:-ms-input-placeholder {
    /* IE 10+ */
    color: #e6e6e6; }
  textarea:-moz-placeholder {
    /* Firefox 18- */
    color: #e6e6e6; }
  textarea:focus {
    border: 1px solid #1F5D8E;
    box-shadow: 0px 0px 2px 0px rgba(12, 68, 121, 0.5); }

.input-control {
  margin-bottom: 1em; }

.input-control.has-error label {
  color: #BA3535 !important; }

.input-control.has-error input {
  border: 1px solid #BA3535;
  box-shadow: 0px 0px 2px 0px rgba(186, 53, 53, 0.25);
  color: #BA3535; }

.input-control:focus-within label {
  color: #1F5D8E; }

.input-control.has-success label {
  color: #009A97 !important; }

.input-control.has-success input {
  border: 1px solid #009A97;
  box-shadow: 0px 0px 2px 0px rgba(0, 154, 151, 0.25);
  color: #009A97; }

.page-header {
  background: #1F5D8E;
  border-radius: 4px;
  padding: 2em 2em;
  background-image: url("../images/tactile-mix.svg");
  background-position: right;
  background-repeat: no-repeat;
  margin-bottom: 2em;
  padding-right: 30em; }
  .page-header h1 {
    color: #FFFFFF;
    margin: 0; }

.disscussion .post {
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.5em; }
  .disscussion .post.is-reply {
    background: #F3F3F3;
    padding: 1em 0;
    padding-right: 2em;
    border-radius: 4px; }
  .disscussion .post .meta {
    width: 25%;
    text-align: center;
    border-right: 1px solid #979797; }
    .disscussion .post .meta.is-small img {
      padding: 0 1em; }
    .disscussion .post .meta img {
      width: 100%;
      padding: 0 5em 0.5em;
      border-radius: 50%; }
    .disscussion .post .meta .name {
      color: #1F5D8E;
      font-weight: bold;
      display: block; }
    .disscussion .post .meta .no-post {
      font-size: 0.75em;
      line-height: 1.33333333em;
      color: #979797;
      display: block; }
  .disscussion .post .content {
    width: 75%;
    padding: 0;
    padding-left: 2em; }
    .disscussion .post .content .name {
      color: #979797;
      display: block; }
    .disscussion .post .content h3 {
      font-family: "Lato", Helvetica, Arial, sans-serif;
      font-size: 1.2em;
      margin-top: 0;
      margin-bottom: 1em; }

.thread-reply {
  margin-left: 4em; }

.accordion {
  padding-left: 2em; }
  .accordion .accordion-item {
    margin-bottom: 1em; }
    .accordion .accordion-item.close {
      position: static; }
      .accordion .accordion-item.close .accordion-item-content {
        height: 0;
        transform: scaleY(0);
        transform-origin: top;
        transition: transform 0.3s ease-in-out; }
    .accordion .accordion-item.open .accordion-item-content {
      height: auto;
      transform: scaleY(1);
      transform-origin: top;
      transition: transform 0.3s ease-in-out; }
    .accordion .accordion-item.open .accordion-heading {
      color: #1F5D8E; }
  .accordion .accordion-item-content {
    overflow: hidden; }
  .accordion .accordion-heading {
    font-size: 1em;
    line-height: 1.33333333em;
    margin-top: 1.33333333em;
    margin-bottom: 0em;
    font-family: "Lato", Helvetica, Arial, sans-serif;
    color: #1E2328;
    margin: 0;
    position: relative;
    cursor: pointer; }
    .accordion .accordion-heading .tactile {
      position: absolute;
      top: -1.35em;
      left: -4.5em; }
      .accordion .accordion-heading .tactile .no {
        position: absolute;
        font-size: 1.5em;
        z-index: 3;
        width: 2.7em;
        color: #FFFFFF;
        text-align: center;
        top: 0.9em;
        font-family: "Cabin Sketch", Helvetica, Arial, sans-serif; }
      .accordion .accordion-heading .tactile svg {
        position: absolute;
        fill: #1F5D8E;
        width: 4em;
        height: 4em;
        z-index: 2; }
  .accordion .accordion-item {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.35);
    padding: 1em 2em 1em 2.5em; }

header {
  background: #1F5D8E;
  color: #FFFFFF; }
  header .logo img {
    height: 1.5em;
    display: block; }
  header .user-menu {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    cursor: pointer; }
    header .user-menu ul {
      position: relative;
      padding: 0;
      margin: 0;
      list-style: none; }
    header .user-menu ul ul {
      position: absolute;
      text-align: right;
      right: 0;
      bottom: -5.35em;
      background: #F3F3F3;
      list-style: none;
      border-radius: 4px;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.55);
      display: none; }
      header .user-menu ul ul li {
        display: block;
        width: 100%;
        border-top: 1px solid #E2E2E2;
        border-bottom: 1px solid #FCFCFC; }
        header .user-menu ul ul li:first-child {
          border-top: 0;
          padding-top: 0.25em; }
        header .user-menu ul ul li:last-child {
          border-bottom: 0;
          padding-bottom: 0.25em; }
      header .user-menu ul ul a {
        color: #979797;
        display: block;
        padding: 0.5em 0.5em 0.5em 8em;
        text-decoration: none; }
    header .user-menu ul li:hover > ul {
      display: block; }
    header .user-menu .user-greet {
      padding-right: 2em; }
    header .user-menu img {
      border-radius: 50%;
      height: 1.5em;
      position: absolute;
      top: 0;
      right: 0; }

.sidebar {
  background: #F3F3F3;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: space-between;
      align-items: space-between;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap; }
  .sidebar .nav-top-container {
    min-height: 90%;
    width: 100%; }
  .sidebar .nav-bottom-container {
    text-align: center;
    width: 100%; }
  .sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    .sidebar ul li {
      border-top: 1px solid #E2E2E2;
      border-bottom: 1px solid #FCFCFC; }
      .sidebar ul li:first-child {
        border-top: 0; }
      .sidebar ul li:last-child {
        border-bottom: 0; }
      .sidebar ul li.active a {
        background: #e6e6e6; }
      .sidebar ul li a {
        color: #1E2328;
        text-decoration: none;
        display: block;
        padding: 0.75em 0 0.75em 1em;
        font-size: 1.25em;
        transition: all 0.2s ease-in-out; }
        .sidebar ul li a:hover {
          background: #e6e6e6; }

.tabbing .tabs {
  text-align: center; }
  .tabbing .tabs .tab {
    background: none;
    border: 0;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    padding: 0.25em 0.5em;
    color: #979797;
    letter-spacing: 1px;
    margin: 0 0.75em; }
    .tabbing .tabs .tab.active {
      border-bottom: 1px solid #009A97; }

.tabbing .tab-content {
  margin-top: 1em; }
  .tabbing .tab-content.active {
    display: block; }
  .tabbing .tab-content.disabled {
    display: none; }

.application-description {
  padding: 0 5em; }
  .application-description .welcome-image {
    max-width: 400px;
    margin: 0 auto;
    padding-top: 2em;
    padding-bottom: 2em; }
  .application-description h1 {
    font-size: 2.61111111em;
    line-height: 1.0212766em;
    margin-top: 0.5106383em;
    margin-bottom: 0.5106383em;
    text-transform: uppercase;
    text-align: center; }

.login-sidebar {
  padding: 0 5em;
  background: #F3F3F3;
  padding-bottom: 2em; }
  .login-sidebar .avatar-container {
    padding: 3em 7em 0;
    margin-bottom: 1em; }
    .login-sidebar .avatar-container img {
      -webkit-filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.35));
              filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.35)); }

.news {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row;
      flex-flow: row; }
  .news .item {
    -ms-flex: 1;
        flex: 1; }
  .news .large {
    -ms-flex: 0 0 62%;
        flex: 0 0 62%;
    margin-right: 0.5em;
    background-size: cover;
    background-position: center;
    border-radius: 4px;
    position: relative;
    overflow: hidden; }
    .news .large .inner {
      position: absolute;
      background: rgba(0, 0, 0, 0.35);
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 2em 2em;
      color: #FFFFFF; }
      .news .large .inner p {
        margin-bottom: 0; }
      .news .large .inner h2 {
        margin: 0;
        color: #FFFFFF;
        margin-bottom: 0.25em; }
  .news .small {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    margin-left: 0.5em;
    width: 100%; }
    .news .small .inner {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
      background: #F3F3F3;
      border-radius: 4px;
      overflow: hidden;
      margin: 0.5em 0;
      width: 100%;
      -ms-flex-align: center;
          align-items: center; }
      .news .small .inner:first-child {
        margin-top: 0; }
      .news .small .inner:last-child {
        margin-bottom: 0; }
      .news .small .inner .img-container {
        margin-right: 1em; }
        .news .small .inner .img-container img {
          display: block;
          max-height: 100px;
          height: 100%; }
      .news .small .inner .text-container {
        font-size: 0.75em;
        line-height: 1.33333333em;
        padding-right: 1em; }
        .news .small .inner .text-container h3 {
          margin: 0; }

@media screen and (max-width: 1024px) {
  .news .small {
    display: none; }
  .news .large {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    min-height: 18em; } }

.top-contributors {
  margin: 2em 0;
  padding: 0 10em; }
  .top-contributors .user {
    -ms-flex: 0 0 33%;
        flex: 0 0 33%;
    text-align: center;
    font-size: 0.75em;
    line-height: 1.33333333em; }
    .top-contributors .user h3 {
      margin: 0; }
    .top-contributors .user .contributions {
      color: #979797;
      display: block; }
    .top-contributors .user .img-container {
      text-align: center; }
      .top-contributors .user .img-container img {
        display: block;
        max-width: 12em;
        margin: 0 auto;
        margin-bottom: 1em; }

.lesson-plans {
  margin: 1em 0; }
  .lesson-plans .lesson {
    -ms-flex: 0 0 33%;
        flex: 0 0 33%;
    -ms-flex-positive: 1;
        flex-grow: 1;
    padding: 0 0.5em;
    margin-bottom: 1em; }
    .lesson-plans .lesson .inner {
      height: 100%;
      background-size: cover;
      background-position: center;
      position: relative;
      border-radius: 4px;
      overflow: hidden; }
    .lesson-plans .lesson .overlay {
      position: absolute;
      background: rgba(0, 0, 0, 0.75);
      width: 100%;
      height: 100%; }
    .lesson-plans .lesson .text {
      position: relative;
      z-index: 5;
      color: #FFFFFF;
      text-align: center;
      padding: 2em 2em; }
      .lesson-plans .lesson .text p {
        margin-bottom: 2em; }
      .lesson-plans .lesson .text .btn:hover {
        color: #FFFFFF;
        border-color: #FFFFFF; }
      .lesson-plans .lesson .text h3 {
        margin-top: 0;
        color: #FFFFFF;
        font-family: "Lato", Helvetica, Arial, sans-serif;
        font-size: 1.1em; }
  .lesson-plans .toolbar {
    font-size: 0.75em;
    line-height: 1.33333333em;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    margin-top: 2em; }
  .lesson-plans .divider {
    margin: 1em 0; }

.view-lesson-plan .page-header h3 {
  color: #FFFFFF;
  margin-top: 0; }

.view-lesson-plan .description {
  font-size: 0.75em;
  line-height: 1.33333333em;
  -ms-flex: 0 0 32%;
      flex: 0 0 32%; }
  .view-lesson-plan .description h3 {
    margin-top: 0;
    margin-bottom: 0.5em; }

.view-lesson-plan .materials {
  font-size: 0.75em;
  line-height: 1.33333333em;
  padding-left: 2em;
  -ms-flex: 0 0 68%;
      flex: 0 0 68%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .view-lesson-plan .materials h3 {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    margin-top: 0;
    margin-bottom: 0.5em; }
  .view-lesson-plan .materials .material {
    -ms-flex: 0 0 33%;
        flex: 0 0 33%;
    padding-bottom: 1em;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center; }
    .view-lesson-plan .materials .material img {
      height: 4em;
      margin-right: 1em; }

.materials-select {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .materials-select .select {
    width: 32%;
    -ms-flex: 0 0 auto;
        flex: 0 0 auto; }
  .materials-select input {
    display: none; }
    .materials-select input:checked + label {
      border-color: #1F5D8E;
      color: #1F5D8E; }
  .materials-select label {
    cursor: pointer;
    padding: 0.5em 0.25em;
    border: 2px solid transparent;
    border-radius: 4px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center; }
  .materials-select img {
    height: 4em;
    padding-right: 1em; }

.create-lesson-controls .container > div {
  -ms-flex: 1;
      flex: 1; }

.create-lesson-controls .add-more {
  text-align: center; }

.create-lesson-controls .publish {
  text-align: right; }

.container-user {
  margin: 2em 0;
  padding: 0 2em; }
  .container-user .divider-user {
    margin-left: 10em; }
  .container-user .profile-user {
    -ms-flex: 0 0 33%;
        flex: 0 0 33%;
    text-align: center;
    font-size: 0.75em;
    line-height: 1.33333333em; }
    .container-user .profile-user h3 {
      margin: 0; }
    .container-user .profile-user .contributions-user {
      color: #979797;
      display: block; }
    .container-user .profile-user .img-container-user {
      text-align: center; }
      .container-user .profile-user .img-container-user img {
        display: block;
        max-width: 20em;
        margin: 0 auto;
        margin-bottom: 1em; }
      .container-user .profile-user .img-container-user .image-user {
        border-radius: 50%; }
    .container-user .profile-user .information-user .contributions-user {
      margin-bottom: 1em; }
    .container-user .profile-user .information-user .btn {
      margin-right: 0; }

.badge-wrapper {
  text-size: 4em; }
  .badge-wrapper h3 {
    text-align: center; }
  .badge-wrapper .badge {
    height: 12em;
    -ms-flex-direction: row;
        flex-direction: row; }

#community .topic-community {
  color: white;
  border-radius: 4px;
  padding: 25px 5px;
  text-align: center;
  text-decoration: none;
  display: block; }
  #community .topic-community img {
    display: block;
    margin: 0.5em auto;
    width: 50px; }

#community .topic-box {
  padding: 5px 5px;
  -ms-flex: 0 0 33%;
      flex: 0 0 33%; }

#community .container-news {
  -ms-flex: 0 0 32%;
      flex: 0 0 32%;
  padding-right: 3.5em; }

#community .container-topics {
  -ms-flex: 0 0 68%;
      flex: 0 0 68%; }

#community .disscussion {
  font-size: 0.75em;
  line-height: 1.33333333em; }
  #community .disscussion h2 {
    border-bottom: 1px solid #F3F3F3;
    padding-bottom: 0.5em;
    font-size: 2em; }

#community .disscussion .post {
  margin-bottom: 1.5em;
  padding-bottom: 1.5em;
  border-bottom: 1px solid #F3F3F3; }

#community .disscussion .post .meta {
  padding: 0 0.5em;
  border-right: none; }

#community .meta {
  width: 30%;
  text-align: center;
  border-right: 1px solid #979797;
  padding: 0 2em; }

#communitytopic .topics .disscussion {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between; }

#communitytopic .topics .post {
  width: 32%;
  margin-bottom: 2em; }

.btn-clicked-upvote {
  background: #00cdc9 !important;
  box-shadow: 0 0 4px #009A97; }

.btn-clicked-downvote {
  background: #c94040 !important;
  box-shadow: 0 0 4px #BA3535; }

.training {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row;
      flex-flow: row; }
  .training .item {
    -ms-flex: 1;
        flex: 1; }
  .training .large {
    -ms-flex: 0 0 62%;
        flex: 0 0 62%;
    background: green;
    margin-right: 0.5em;
    background-size: cover;
    background-position: center;
    border-radius: 4px;
    position: relative;
    overflow: hidden; }
    .training .large .inner {
      position: absolute;
      background: rgba(0, 0, 0, 0.35);
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 2em 2em;
      color: #FFFFFF; }
      .training .large .inner p {
        margin-bottom: 0; }
      .training .large .inner h2 {
        margin: 0;
        color: #FFFFFF;
        margin-bottom: 0.25em; }
  .training .small {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    margin-left: 0.5em;
    width: 100%; }
    .training .small .inner {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
      background: #F3F3F3;
      border-radius: 4px;
      overflow: hidden;
      margin: 0.5em 0;
      width: 100%;
      -ms-flex-align: center;
          align-items: center; }
      .training .small .inner:first-child {
        margin-top: 0; }
      .training .small .inner:last-child {
        margin-bottom: 0; }
      .training .small .inner .img-container {
        margin-right: 1em; }
        .training .small .inner .img-container img {
          display: block;
          max-height: 100px;
          height: 100%; }
      .training .small .inner .text-container {
        font-size: 0.75em;
        line-height: 1.33333333em;
        padding-right: 1em; }
        .training .small .inner .text-container h3 {
          margin: 0; }

@media screen and (max-width: 1024px) {
  .news .small {
    display: none; }
  .news .large {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    min-height: 18em; } }
