#community {
    .topic-community {
        color: white;
        border-radius: 4px;
        padding: 25px 5px;
        text-align: center;
        text-decoration: none;
        display: block;
        img {
          display: block;
          margin: 0.5em auto;
          width: 50px;
        }
    }
    .topic-box {
        padding: 5px 5px;
        flex: 0 0 33%;
    }
    .container-news {
        flex: 0 0 32%;
        padding-right: 3.5em;
    }
    .container-topics {
        flex: 0 0 68%;
    }
    .disscussion {
        @include small;

        h2 {
            border-bottom: 1px solid $lightGrey;
            padding-bottom: 0.5em;
            font-size: 2em;
        }
    }
    .disscussion .post {
        margin-bottom: 1.5em;
        padding-bottom: 1.5em;
        border-bottom: 1px solid $lightGrey;
    }
    .disscussion .post .meta {
        padding: 0 0.5em;
        border-right: none;
    }
    .meta {
      width: 30%;
      text-align: center;
      border-right: 1px solid $darkGrey;
      padding: 0 2em;
    }

}

#communitytopic {

    .topics {
        .disscussion {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .post {
            width: 32%;
            margin-bottom: 2em;
        }
    }
}
.post-picture {
  border-radius: 50%;

}

.medium-avatar {
  width: 6em;
}

.small-avatar {
  width: 2em;
}
