.disscussion {

  .post {
    display: flex;
    margin-bottom: 1.5em;

    &.is-reply {
      background: $lightGrey;
      padding: 1em 0;
      padding-right: 2em;
      border-radius: 4px;
    }

    .meta {
      width: 25%;
      text-align: center;
      border-right: 1px solid $darkGrey;

      &.is-small {
        img {
          padding: 0 1em;
        }
      }

      img {
        width: 100%;
        padding: 0 5em 0.5em;
        border-radius: 50%;
      }

      .name {
        color: $primaryBlue;
        font-weight: bold;
        display: block;
      }

      .no-post {
        @include small;
        color: $darkGrey;
        display: block;
      }

    }

    .content {
      width: 75%;
      padding: 0;
      padding-left: 2em;

      .name {
        color: $darkGrey;
        display: block;
      }

      h3 {
        font-family: $baseFont;
        font-size: 1.2em;
        margin-top: 0;
        margin-bottom: 1em;
      }
    }

  }

}
.thread-reply {
  margin-left: 4em;
}