.page-header {
  background: $primaryBlue;
  border-radius: 4px;
  padding: 2em 2em;
  background-image: url('../images/tactile-mix.svg');
  background-position: right;
  background-repeat: no-repeat;
  margin-bottom: 2em;
  padding-right: 30em;

  h1 {
    color: $white;
    margin: 0;
  }

}