.container-user {
  margin: 2em 0;
  padding: 0 2em;

  .divider-user {
    margin-left: 10em;
  }
  
  .profile-user {
    flex: 0 0 33%;
    text-align: center;
    @include small;

    h3 {
      margin: 0;
    }

    .contributions-user {
      color: $darkGrey;
      display: block;
    }

    .img-container-user {
      text-align: center;

      img {
        display: block;
        max-width: 20em;
        margin: 0 auto;
        margin-bottom: 1em;
      }
      .image-user {
        border-radius: 50%;
      }
    }
    .information-user {
      lineheight: 2em;

      .contributions-user {
        margin-bottom: 1em;
      }
      .btn {
        margin-bottom: 2em;
        font-size: 1em;
      }
    }
  }
}